<h2 class="text-align-center">Registration</h2>
<div class="app-plate">
  <div class="registration-form" [formGroup]="registrationForm">
    <div>
      <div class="form__control">
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="Input text" formControlName="name"/>
        <span id="nameErrorMessage" class="text-danger">
          <span *ngIf="(isSubmitted || registrationForm.controls['name'].touched) && registrationForm.controls['name'].hasError('required')">Name is required.</span>
          <span *ngIf="(isSubmitted || registrationForm.controls['name'].touched) && registrationForm.controls['name'].hasError('minlength')">Name should be minimum 6 characters long.</span>
      </span>
      </div>
      <div class="form__control">
        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Input text" formControlName="email" emailValidator/>
        <span id="emailErrorMessage" class="text-danger">
          <span *ngIf="(isSubmitted || registrationForm.controls['email'].touched) && registrationForm.controls['email'].hasError('required')">Email is required.</span>
          <br/>
          <span *ngIf="(isSubmitted || registrationForm.controls['email'].touched) && registrationForm.controls['email'].hasError('invalidEmail')">Please add a valid email address.</span>          
        </span>
      </div>
      <div class="form__control">
        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Input text" formControlName="password"/>
        <span id="passwordErrorMessage" class="text-danger" *ngIf="(isSubmitted || registrationForm.controls['password'].touched) && registrationForm.controls['password'].hasError('required')">Password is required.</span>
      </div>
    </div>
    <div class="form__action">
      <app-button [buttonText]="'register'" (click)="onFormSubmit()"></app-button>
    </div>
    <nav>
      <a routerLink="">If you have an account you may <strong>Login</strong></a>
    </nav>
  </div>
</div>