<app-header>
  <p *ngIf="isLoggedIn">Harry Potter</p>
  <app-button *ngIf="!isLoggedIn" [buttonText]="'login'" (click)="logTheUser()"></app-button>
  <app-button *ngIf="isLoggedIn" [buttonText]="'logout'" (click)="logTheUser()"></app-button>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <app-info [title]="'Your List Is Empty'" [text]="'Please use \'Add New Course\' button to add your first course'">
    <app-button [buttonText]="'add new course'"></app-button>
  </app-info>

  <!-- Course Card component -->
  <app-course-card [courseCardData]="courseCardData">
    <app-button [iconName]="'trash-can'"></app-button>
    <app-button [iconName]="'pencil'"></app-button>
  </app-course-card>
  
  <!-- <app-courses-list [courses]="coursesList"></app-courses-list> -->

   <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
